<h2>Последние посты</h2>

<br>

<% @results.each do |post| %>
  <p>
    <%= post['Content'] %>
    <br>
    <br>
    Добавлено в: <%= post['Create_Date'] %>
    <br>
    <br>
    <a href="/details/<%= post['id'] %>">Комментарии</a>
  </p>
  <hr />
<%end %>