<h2>Добавить что-то новое</h2>
<p>
  <form action="/new" method="post">
    <textarea class="form-control" rows="5"></textarea>
    <br>
    <button type="button" class="btn btn-info">Отправить</button>
  </form>
</p>