<h2>Добавить что-то новое</h2>

<form action="new" method="post">
    <br>

	<div class="form-group">
	    <label>Имя автора</label>
	    <input name="author" type="text" class="form-control" placeholder="Автор">
  	</div>
    
    <br>

    <label>Текст поста</label>    
    <textarea name="area" class="form-control" rows="5" placeholder="Введите текст поста"></textarea>
    <br>
    <button type="submit" class="btn btn-info">Отправить</button>
</form>